.body{
    overflow-x: hidden;
}
.sec-1{
    background-color: rgb(5, 40, 77);
    width: 100%;
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
}
.box-1{
    border: 1px solid red;
    background-color: white;
    color: black;
    width: 170px;
    position: absolute;
    height: 70px;
    text-align: center;
    padding: auto;
    top: 10px;
}

.box-1 #p1{
    font-size: 25px;
    margin-top:15px;
}

.box-1 #p2{
    font-size: 12px;
    margin-top:-0.7cm;
}
.main{
    display: flex;
    width: 1100px;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.mycard{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
   
}
.mycard .card-img{
    order: 1;
    flex: 1 0 200px;
    height: 170px;
    
}
.mycard .card-content{
    margin-left: 30px;
    order: 2;
    flex: 1 1 900px;
}

.mycard .card-content .card-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.mycard .card-content .card-dis{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.mycard .card-content .card-body{
    box-sizing:border-box ;
    border: 1px solid white;
    width: 70%;
    height: 80px;
    margin-top: 1rem;
    font-size: 16px;
}

.mycard .card-content .card-butt button{
    background-color: #de420e;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    outline: 0;
    cursor: pointer;
    width: 150px;
    height: 40px;
    padding:0px;
}
.im1{
    border: 1px solid black;
    height: 170px;
    width: 200px;
}

.sec-2{
    background-color: rgb(5, 40, 77);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 2.4rem;
}

.box-3{
    margin: auto;
    text-align: center;
    padding: auto;
}

.box-3 p{
    margin: auto;
    color: white;
    font-size: 10px;
}

.nav{
    display: flex;
    flex-direction: row;
}
.nav .search{
    order: 1;
    flex: 1 0 300px;
}
.nav .search h3{
    margin-top: 2.2rem;
}

.nav .search .sel{
    margin-top: -1.7rem;
    width: 100px;
}
.nav .news{
    order: 2;
    flex: 1 0 500px;
    margin-left: 7rem;
    margin-top: 2rem;
}

.nav .suscribe{
    order: 3;
    flex: 1 0 300px;
    margin-left: -4.5rem;
}
.nav .suscribe h3{
    margin-top: 2.4rem;
}
.nav .suscribe button{
    background-color:black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    outline: 0;
    cursor: pointer;
    width: 80px;
    padding:5px;
}
.sec-2{
    bottom: 0;
}
@media only screen and (max-width: 1200px) {
    .main{
        width: 800px;
    }
    .mycard{
        width: 800px;
    }
    .mycard .card-img{
        width: 100px;
    }
    .mycard .card-content{
        margin-left: 18px;
        order: 2;
        flex: 1 1 700px;
    }
    .nav{
        width: 800px;
    }
    .nav .search{
        flex: 1 0 150px;
    }
    .nav .news{
        flex: 1 1 300px;
    }
    .nav .suscribe{
        flex:1 0 150px;
        order: 3;
        margin-left: -3.5rem;
    }
    .nav .suscribe .inp1{
        width: 40px;
    }
    .nav .suscribe button{
        font-size: 8px;
        width: 50px;
        padding:3px;
    }
}
    @media only screen and (max-width: 810px) {
        .main{
            width: 500px;
        }
        .mycard{
            width: 500px;
        }
        .mycard .card-img{
            width: 80px;
        }
        .mycard .card-content{
            margin-left: 18px;
            order: 2;
            flex: 1 1 420px;
        }

        .mycard .card-content .card-body{
            box-sizing:border-box ;
            border: 1px solid white;
            width: 100%;
            height: 70px;
            margin-top: 0.7rem;
            font-size: 12px;
        }

        .mycard .card-content .card-dis{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 10px;
        }
        .nav{
            width: 500px;
        }
        .nav .search{
            flex: 1 0 100px;
        }
        .nav .news{
            flex: 1 1 300px;
            margin-left: 3rem;
        }
        .nav .suscribe{
            flex:1 0 100px;
            order: 3;
            margin-left: -0.2rem;
        }
        .nav .suscribe .inp1{
            width: 35px;
            font-size: 7px;
        }
        .nav .suscribe button{
            font-size: 5px;
            width: 30px;
            padding:2px;
        }
    }
        @media only screen and (max-width: 505px) {
            .main{
                width: 300px;
            }
            .mycard{
                width: 300px;
            }
            .mycard .card-img{
                width: 60px;
            }
            .im1{
                border: 1px solid black;
                height: 135px;
                width: 110px;
            }
            .mycard .card-content{
                margin-left: 0px;
                order: 2;
                height: 120px;
                flex: 1 1 240px;
            }
    
           
            .mycard .card-content .card-title{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 18px;
                margin-left: -4rem;
            }   
            .mycard .card-content .card-dis{
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 7px;
                margin-left: -4rem;
            }
            .mycard .card-content .card-body{
                box-sizing:border-box ;
                border: 1px solid white;
                width: 120px;
                height: 70px;
                margin-top: 0.4rem;
                font-size: 8px;
                margin-left: -4rem;
                margin-bottom: 0rem;
            }
            .mycard .card-content .card-butt button{
            
                font-size: 7px;
                outline: 0;
                cursor: pointer;
                width: 70px;
                height: 20px;
                padding:0px;
                margin-top:7px;
                margin-left: -4rem;
               
            }

            .nav{
                width: 300px;
                display: flex;
                flex-direction:column;
            }
            .nav .search{
                flex: 1 0 100%;
                margin-left:auto ;
                margin-right: auto;
            }

            .nav .search h3{
                font-size: 22px;
                margin-top: 0.7cm;
                margin-bottom: 0.5cm;
                align-content: center;
            }
            .nav .search .sel{
                width: 60px;
                margin-top: 0cm;
                margin-left:auto ;
                margin-right: auto;
                display: block;
                
            }
            .nav .news{
                flex: 1 0 100%;
                margin: 0 auto;
                margin-top: -0.1rem;
                font-size: 18px;
            }
            .nav .suscribe{
                flex:1 0 100%;
                order: 3;
                margin: 0 auto;
                margin-top: -2.5rem;
            }
            .nav .suscribe h3{
                
                text-align: center;
                margin-top: 30px;
                font-size: 24px;
            }
            .nav .suscribe .inp1{
                width: 70px;
                font-size: 13px;
                margin: 0 auto;
                margin-left: 0rem;
            }
            .nav .suscribe button{
                font-size: 10px;
                width: 50px;
                padding:2px;
            }
}